/*
Смартфон - https://wireframe.cc/w0U6zD
ПК -https://wireframe.cc/t08bLc- не актуально. Принято решение верстать по мобильному макету.
*/

/*Анимация*/

@keyframes blink{
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* Общее */

html, body, div, span, h1, h2, h3, p, a, img, ol, ul, li,
table, tr, th, td, article, footer, header, nav, section {
    box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  max-width: 980px;
  color: #000000;
  font-size: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  cursor: default;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: default;
  outline: none;
}

a:visited {
  color: #000000;
}


p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: justify;
  text-indent: 0.7em;
}

h1 {
  margin-top: 1em;
  font-size: 2.5em;
  line-height: 1.3em;
  text-align: center;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.text-img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height: auto;
  max-width: 600px;
  max-height: 600px;
}

.text-img[tabindex="0"] {
  cursor: zoom-in;
}

.text-img[tabindex="0"]:focus {
  position: fixed; z-index: 10;
  top: 0; left: 0; bottom: 0; right: 0;
  width: auto; max-width: 100%;
  height: auto; max-height: 100%;
  margin: auto;
  box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);
-webkit-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);
-moz-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);
}

.text-img[tabindex="0"]:focus, /* Привязка на возврат фото в привычное состояние после клика на увеличенное */
.text-img[tabindex="0"]:focus ~ * {  
  cursor: zoom-out;
  pointer-events: none;
}

.paw {
  width:50px;
  height: 50px;
  animation: blink;
  animation-duration: 3s;
}

.copyright {
  width: 50%;
}
